.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: -150px;
}

.title {
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    margin-left: 20px;
    text-align: center;
    flex-grow: 1;
    padding-left: 60px;

}

.title-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Keeps the text color the same as the h1 */
}

.title-link:hover {
    cursor: pointer;
}

.menu-button {
    font-size: 30px;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center; /* Vertically aligns the user name and button */
    gap: 10px; /* Adds space between the user name and the button */
    position: relative; /* Prevents overlap with other elements */
    z-index: 2; /* Ensures it remains above any other overlapping elements */
}

.user-name {
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    color: #333;
}

.login {
    margin-top: 0;  
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
}

.menu-button,
.login {
    z-index: 1; /* Zadržavanje slojnog reda */
}

.login:hover {
    background-color: #ccd2d9d1;
}

@media (max-width: 768px) {
    .title {
        font-family: "Gill Sans", sans-serif;
        font-size: 35px;
        text-align: center;
        flex-grow: 1;
        margin-right: 10px;
    }

    .title-link {
        margin-left: -100px;
    }
    

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        margin-bottom: -250px;
    }

    .login {
        margin-top: 0;  
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
        font-size: 16px;
        font-family: "Gill Sans", sans-serif;
    }

    .menu-button {
        font-size: 30px;
        margin-left: -15px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .title {
        font-family: "Gill Sans", sans-serif;
        font-size: 25px;
        margin-left: -25px;
        margin-right: 25px;
        text-align: center;
        flex-grow: 1;
        padding-left: 60px;
        color: black;
    }

    .title-link {
        margin-left: 0px;
    }

    .menu-button {
        font-size: 30px;
        margin-left: -10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        margin-bottom: -250px;
    }

    .login {
        margin-top: 0;  
        width: 180px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
        font-size: 10px;
        padding: 5px;
        font-family: "Gill Sans", sans-serif;
    }

}