.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
}

.title {
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    flex-grow: 1;
    padding-left: 60px;
}

.title-link {
    text-decoration: none;
    color: inherit;
}

.title-link:hover {
    cursor: pointer;
}

.menu-button {
    font-size: 30px;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.login,
.register {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    display: block;
    text-align: center;
}

.menu-button,
.login,
.register {
    z-index: 1;
}

.login:hover,
.register:hover {
    background-color: #7f9eced1;
}
