.subscribe-modal {
  position: fixed; /* Drži modal fiksnim na ekranu */
  top: 50%; /* Postavlja ga na sredinu ekrana po vertikali */
  left: 50%; /* Postavlja ga na sredinu ekrana po horizontali */
  transform: translate(-50%, -50%); /* Centriranje u odnosu na ekran */
  z-index: 1000; /* Povećava prioritet prikaza iznad ostalog sadržaja */
  background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
  display: flex; /* Koristi flexbox za centriranje sadržaja */
  justify-content: center;
  align-items: center;
  width: 100%; /* Pokriva cijelu širinu ekrana */
  height: 100%; /* Pokriva cijelu visinu ekrana */
}

.modal-content {
  background: #fff; /* Bijela pozadina za sadržaj */
  padding: 20px;
  border-radius: 8px;
  width: 300px; /* Širina prozora */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; /* Relativna pozicija za "Close" button */
}

form {
  display: flex;
  flex-direction: column; /* Postavlja elemente unutar forme jedan ispod drugog */
  gap: 15px; /* Razmak između inputa i gumba */
}

input {
  width: 100%; /* Širina input polja */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.close-buttonn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Pozicija unutar modala */
  top: 10px; /* Gornji rub */
  right: 10px; /* Desni rub */
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
}

.close-buttonn:hover {
  background-color: #0056b3; /* Dodaje boju prilikom hovera */
}