.bottom-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.subscribe-button,
.emergency-call-button,
.add-report-button {
    font-family: "Gill Sans", sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-report-button {
    background-color: white;
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 20px;
    height: 70px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.bottom-info {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 43%;
}

.bottom-info p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.terms-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}

.terms-button:hover {
    text-decoration: underline;
}

.subscribe-button:hover,
.emergency-call-button:hover,
.add-report-button:hover {
    background-color: #7f9eced1;
}

@media (max-width: 480px) {
    .add-report-button {
        background-color: white;
        border: 1px solid #333;
        border-radius: 15px;
        font-size: 17px;
        height: 70px;
        position: absolute;
        right: 27%;
        bottom: 220px;
        padding: 5px 10px;
    }

    .bottom-info {
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 37%;
    }

    .bottom-info p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 7px;
    }

    .terms-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 11px;
    }

    .left-buttons {
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 10px;
        position: absolute;
        left: 27%;
        bottom: 120px;
    }

    .subscribe-button,
    .emergency-call-button {
    font-family: "Gill Sans", sans-serif;
    padding: 10px 0px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
}