.bottom-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe-button,
.emergency-call-button,
.add-report-button {
    font-family: "Gill Sans", sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-report-button {
    background-color: white;
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 20px;
}

.bottom-info {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bottom-info p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.terms-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}

.terms-button:hover {
    text-decoration: underline;
}

.subscribe-button:hover,
.emergency-call-button:hover,
.add-report-button:hover {
    background-color: #7f9eced1;
}

