* {
  box-sizing: border-box;
}

.safety-measures-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.centered-list {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 20px;
}

.centered-list li {
  margin-bottom: 5px;
  text-align: center;
}

#safety {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(167, 162, 162, 0.4);
  border-radius: 6px;
  max-width: 1000px; /* Increased width */
  width: 99%; /* Adjusts to screen size */
  margin: 0 auto;
  height: 350px;
}

#safety ul {
  display: flex;
  flex-direction: row; /* Stacks each item vertically */
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#safety li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 313px;
  width: 300px; 
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
}

#safety li img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
  margin-top: 0.9rem;
}

#safety li h3 {
  text-align: center;
  margin: 0.5rem 0;
}

#safety li p {
  font-size: 0.9rem;
  text-align: center;
}

button {
  border-radius: 5px;
}

.container {
  display: center;
}